[Unit]
Description=Dell Server Fan Control

[Service]
Type=simple
User=<your user>
Group=<your group>
ExecStart=/opt/windshield/Fan-Control-CLI.rb start
ExecStopPost=/opt/windshield/Fan-Control-CLI.rb reset
WorkingDirectory=/opt/windshield
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
